<div
  class="widget widget_offer"
  [appSetBgImage]="'./assets/img/bg/widget_bg_1.jpg'"
>
  >
  <div class="offer-banner">
    <div class="offer">
      <h6 class="box-title">Need Help? We Are Here To Help You</h6>
      <div class="banner-logo">
        <img src="./assets/img/logo.png" alt="TravelerBG" />
      </div>
      <div class="offer">
        <h6 class="offer-title">You Get Online support</h6>
        <a class="offter-num" routerLink="/contact-us">+359 888 888</a>
      </div>
      <a routerLink="/contact-us" class="th-btn style2 th-icon">Read More</a>
    </div>
  </div>
</div>
