@if(authService.currentUser().user_type == "traveler") {
<section>
  <div class="container">
    <div class="team-details">
      <div class="row gy-5 mb-3 mb-xl-5 pb-xl-4">
        <div class="col-xl-4">
          <div class="th-team team-grid">
            <div class="team-img">
              @if(authService.currentUser()?.user?.cover){
              <img
                src="{{ authService.currentUser()?.user?.cover }}"
                alt="Team"
              />} @else {
              <img
                src="https://res.cloudinary.com/dzpgrtewh/image/upload/v1732479353/hknqokmuuybfjzfizloj.png"
                alt="Team"
              />
              }
            </div>
            <div class="team-img2">
              @if(authService.currentUser()?.user?.profile_picture){
              <img
                src="{{ authService.currentUser()?.user?.profile_picture }}"
                alt="Team"
              />}@else {
              <img
                src="https://res.cloudinary.com/dzpgrtewh/image/upload/v1732479196/vtcfemon7lbumeccd1xu.jpg"
                alt="Team"
              />
              }
            </div>
            <div class="team-content">
              <div class="media-body">
                <h3 class="box-title">
                  <a
                    [routerLink]="[
                      '/travelers/',
                      authService.currentUser()?.user?.user
                    ]"
                    class="team-name"
                    >{{ authService.currentUser()?.user?.name }}
                  </a>
                </h3>
                <span class="team-desig">{{
                  authService.currentUser()?.user?.occupation
                }}</span>

                <span class="team-desig"
                  >City: {{ authService.currentUser()?.user?.city }}</span
                >

                <div class="th-social">
                  @if( authService.currentUser()?.user?.facebook ){
                  <a
                    target="_blank"
                    href="{{ authService.currentUser()?.user?.facebook }}"
                    ><i class="fab fa-facebook-f"></i></a
                  >} @if( authService.currentUser()?.user?.linkedin ){
                  <a
                    target="_blank"
                    href="{{ authService.currentUser()?.user?.linkedin }}"
                    ><i class="fab fa-linkedin-in"></i></a
                  >} @if( authService.currentUser()?.user?.youtube ){
                  <a
                    target="_blank"
                    href="{{ authService.currentUser()?.user?.youtube }}"
                    ><i class="fab fa-youtube"></i></a
                  >} @if( authService.currentUser()?.user?.instagram ){
                  <a
                    target="_blank"
                    href="{{ authService.currentUser()?.user?.instagram }}"
                    ><i class="fab fa-instagram"></i></a
                  >} @if( authService.currentUser()?.user?.website ){
                  <a
                    target="_blank"
                    href="{{ authService.currentUser()?.user?.website }}"
                    ><i class="fab fa-web"></i></a
                  >}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 ps-3 ps-xl-5 pe-xl-4">
          <div class="team-about">
            <h2 class="team-about_title">About Me</h2>
            <p
              class="team-about_text mb-25"
              [innerHTML]="authService.currentUser()?.user?.about"
            ></p>

            <div class="counter-box-wrap">
              <div class="counter-box">
                <h2 class="counter-box_number">
                  <span class="counter-number">0 </span>
                </h2>
                <span class="counter-box_title">Destinations</span>
              </div>
              <div class="counter-box">
                <h2 class="counter-box_number">
                  <span class="counter-number">0 </span>
                </h2>
                <span class="counter-box_title">Activities</span>
              </div>
              <div class="counter-box">
                <h2 class="counter-box_number">
                  <span class="counter-number">0 </span>
                </h2>
                <span class="counter-box_title">Comments</span>
              </div>
              <div class="counter-box">
                <h2 class="counter-box_number">
                  <span class="counter-number">0</span>
                </h2>
                <span class="counter-box_title">ToDo</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
}@else {
<p>Bussiness</p>
}
