<section class="space">
  <div class="container">
    <div class="th-sort-bar">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-4">
          <div class="search-form-area" (input)="onSearch($event)">
            <form class="search-form">
              <input
                type="text"
                placeholder="Search"
                [(ngModel)]="searchQuery"
                name="search"
              />
              <button type="submit">
                <i class="fa-light fa-magnifying-glass"></i>
              </button>
            </form>
          </div>
        </div>

        <!-- <div class="col-md-auto">
          <div class="sorting-filter-wrap">
            <div class="nav" role="tablist">
              <a
                class="active"
                href="#"
                id="tab-destination-grid"
                data-bs-toggle="tab"
                data-bs-target="#tab-grid"
                role="tab"
                aria-controls="tab-grid"
                aria-selected="true"
                ><i class="fa-light fa-grid-2"></i
              ></a>

              <a
                href="#"
                id="tab-destination-list"
                data-bs-toggle="tab"
                data-bs-target="#tab-list"
                role="tab"
                aria-controls="tab-list"
                aria-selected="false"
                class=""
                ><i class="fa-solid fa-list"></i
              ></a>
            </div>
            <form class="woocommerce-ordering" method="get">
              <select
                name="orderby"
                class="orderby"
                aria-label="destination order"
              >
                <option value="menu_order" selected="selected">
                  Default Sorting
                </option>
                <option value="popularity">Sort by popularity</option>
                <option value="rating">Sort by average rating</option>
                <option value="date">Sort by latest</option>
                <option value="price">Sort by price: low to high</option>
                <option value="price-desc">Sort by price: high to low</option>
              </select>
            </form>
          </div>
        </div> -->
      </div>
    </div>
    <div class="row">
      <div class="col-xxl-9 col-lg-8">
        <div class="tab-content" id="nav-tabContent">
          <div
            class="tab-pane fade active show"
            id="tab-grid"
            role="tabpanel"
            aria-labelledby="tab-destination-grid"
          >
            <router-outlet></router-outlet>
          </div>

          <div
            class="tab-pane fade"
            id="tab-list"
            role="tabpanel"
            aria-labelledby="tab-destination-list"
          ></div>
        </div>
      </div>
      <div class="col-xxl-3 col-lg-4">
        <aside class="sidebar-area style2">
          <div class="widget widget_categories">
            <h3 class="widget_title">Categories</h3>
            <ul>
              @for (category of categories; track category.id) {
              <li>
                <a
                  [routerLink]="['/hotels']"
                  [queryParams]="{ category: category.name }"
                  [routerLinkActive]="['active']"
                  ><img src="./assets/img/theme-img/map.svg" alt="" />{{
                    category.name
                  }}</a
                >
                <span>({{ category.number_of_hotels }})</span>
              </li>
              }
            </ul>
          </div>
          <app-top-rated-destinations></app-top-rated-destinations>

          <div class="widget widget_tag_cloud">
            <h3 class="widget_title">Popular Tags</h3>
            <div class="tagcloud">
              <a>ToDo</a>
              <a>ToDo</a>
              <a>ToDo</a>
              <a>ToDo</a>
              <a>ToDo</a>
              <a>ToDo</a>
              <a>ToDo</a>
              <a>ToDo</a>
            </div>
          </div>
          <app-banner></app-banner>
        </aside>
      </div>
    </div>
  </div>
</section>
<app-top-travelers></app-top-travelers>
<div
  class="shape-mockup d-none d-xl-block"
  data-top="35%"
  data-left="5%"
  appShapeMockup
>
  <img src="./assets/img/shape/line.png" alt="shape" />
</div>
<div
  class="shape-mockup movingX d-none d-xl-block"
  data-top="30%"
  data-right="3%"
  appShapeMockup
>
  <img class="gmovingX" src="./assets/img/shape/shape_4.png" alt="shape" />
</div>
<!-- <div
  class="shape-mockup shape1 d-none d-xl-block"
  data-top="12%"
  data-left="2%"
  appShapeMockup
>
  <img src="./assets/img/shape/shape_1.png" alt="shape" />
</div> -->
<div
  class="shape-mockup shape2 d-none d-xl-block"
  data-top="30%"
  data-left="3%"
  appShapeMockup
>
  <img src="./assets/img/shape/shape_2.png" alt="shape" />
</div>
<!-- <div
  class="shape-mockup shape3 d-none d-xl-block"
  data-top="24%"
  data-left="8%"
  appShapeMockup
>
  <img src="./assets/img/shape/shape_3.png" alt="shape" />
</div> -->

<div
  class="shape-mockup about-shape movingX d-none d-xxl-block"
  data-bottom="24%"
  data-right="4%"
  appShapeMockup
>
  <img src="./assets/img/normal/about-slide-img.png" alt="shape" />
</div>
