<section class="space">
  <div class="container">
    <div class="row">
      <div class="col-xxl-8 col-lg-7">
        <router-outlet></router-outlet>
      </div>
      <div class="col-xxl-4 col-lg-5">
        <aside class="sidebar-area">
          <div class="search-form-area" (input)="onSearch($event)">
            <form class="search-form">
              <input
                type="text"
                placeholder="Search"
                [(ngModel)]="searchQuery"
                name="search"
              />
              <button type="submit"><i class="far fa-search"></i></button>
            </form>
          </div>
          <div class="widget widget_categories">
            <h3 class="widget_title">Activity Type</h3>
            <ul>
              @for (category of categories; track category.id) {
              <li>
                <a
                  [routerLink]="['/activities']"
                  [queryParams]="{ category: category.name }"
                  [routerLinkActive]="['active']"
                >
                  <img src="./assets/img/theme-img/map.svg" alt="" />{{
                    category.name
                  }}</a
                >
                <span>({{ category.number_of_activity }})</span>
              </li>
              }
            </ul>
          </div>

          <div class="widget widget_price_filter">
            <h4 class="widget_title">Filter By Price</h4>
            <div class="price_slider_wrapper">
              <div class="price_label">
                Price: <span class="from"> 0 </span> —
                <span class="to">${{ max_price }}</span>
              </div>
              <div class="price_slider">
                <input
                  class="price"
                  type="range"
                  min="0"
                  max="300"
                  [(ngModel)]="max_price"
                  (input)="onMaxValueChange($event)"
                  (change)="onMaxValueChangeComplete()"
                />
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>
