@if(loading){
<app-loader></app-loader>
}@else{
<section
  class="position-relative bg-top-center overflow-hidden space"
  id="service-sec"
  [appSetBgImage]="'./assets/img/bg/tour_bg_1.jpg'"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="title-area text-center">
          <span class="sub-title">Best Place For You</span>
          <h2 class="sec-title">Most Popular Hotels</h2>
          <p class="sec-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
    </div>
    <div class="slider-area tour-slider">
      <div class="swiper th-slider has-shadow">
        <swiper-container
          class="swiper-wrapper"
          slides-per-view="4"
          space-between="30"
          pagination="true"
          clickable="true"
        >
          <!-- <div class="swiper-wrapper"> -->
          <!-- <div class="swiper-slide"> -->
          @for (hotel of hotels; track hotel.id) {
          <swiper-slide class="swiper-slide">
            <div class="tour-box th-ani gsap-cursor">
              <div class="tour-box_img global-img">
                <img src="{{ hotel.image }}" alt="image" />
              </div>
              <div class="tour-content">
                <h3 class="box-title">
                  <a href="tour-details.html">{{ hotel.name }}</a>
                </h3>
                <div class="tour-rating">
                  <div
                    class="star-rating"
                    role="img"
                    aria-label="Rated 5.00 out of 5"
                  >
                    <span style="width: 100%"
                      >Rated <strong class="rating">5.00</strong> out of 5 based
                      on <span class="rating">4.8</span>(4.8 Rating)</span
                    >
                  </div>
                  <a href="tour-details.html" class="woocommerce-review-link"
                    >(<span class="count">4.8</span> Rating)</a
                  >
                </div>
                <h4 class="tour-box_price">
                  <span class="currency">${{ hotel.price }}</span
                  >/Person
                </h4>
                <div class="tour-action">
                  <span><i class="fa-light fa-clock"></i>7 Days</span>
                  <a href="tour-details.html" class="th-btn style4 th-icon"
                    >Book Now</a
                  >
                </div>
              </div>
            </div> </swiper-slide
          >}

          <!-- </div> -->
        </swiper-container>
      </div>
    </div>
  </div>
</section>
}
