@if(loading){
<app-loader></app-loader>
}@else{
<section>
  <div class="container">
    <div class="team-details">
      <div class="row gy-5 mb-3 mb-xl-5 pb-xl-4">
        <div class="col-xl-4">
          <div class="th-team team-grid">
            <div class="team-img">
              @if(travelerDetails.cover){
              <img src="{{ travelerDetails.cover }}" alt="Team" />}@else {
              <img
                src="https://res.cloudinary.com/dzpgrtewh/image/upload/v1732479353/hknqokmuuybfjzfizloj.png"
                alt="Team"
              />
              }
            </div>
            <div class="team-img2">
              @if(travelerDetails.profile_picture){
              <img
                src="{{ travelerDetails.profile_picture }}"
                alt="Team"
              />}@else {
              <img
                src="https://res.cloudinary.com/dzpgrtewh/image/upload/v1732479196/vtcfemon7lbumeccd1xu.jpg"
                alt="Team"
              />
              }
            </div>

            <div class="team-content">
              <div class="media-body">
                <h3 class="box-title">
                  <a>{{ travelerDetails.name }} </a>
                </h3>
                <app-rating
                  [rating]="travelerDetails.average_rating"
                  [data]="travelerDetails"
                  (rated)="rateTraveler(travelerDetails.user, $event)"
                ></app-rating>
                <span class="team-desig">{{ travelerDetails.occupation }}</span>

                <div class="th-social">
                  @if( travelerDetails.facebook ){
                  <a target="_blank" href="{{ travelerDetails.facebook }}"
                    ><i class="fab fa-facebook-f"></i></a
                  >} @if( travelerDetails.linkedin ){
                  <a target="_blank" href="{{ travelerDetails.linkedin }}"
                    ><i class="fab fa-linkedin-in"></i></a
                  >} @if( travelerDetails.youtube ){
                  <a target="_blank" href="{{ travelerDetails.youtube }}"
                    ><i class="fab fa-youtube"></i></a
                  >} @if( travelerDetails.instagram ){
                  <a target="_blank" href="{{ travelerDetails.instagram }}"
                    ><i class="fab fa-instagram"></i></a
                  >} @if( travelerDetails.website ){
                  <a target="_blank" href="{{ travelerDetails.website }}"
                    ><i class="fa-solid fa-globe"></i></a
                  >}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 ps-3 ps-xl-5 pe-xl-4">
          <div class="team-about">
            <h2 class="team-about_title">About Me</h2>
            <p
              class="team-about_text mb-25"
              [innerHTML]="travelerDetails.about"
            ></p>
            <div class="counter-area space">
              <div class="container">
                <div class="row">
                  <!-- <div class="col-sm-6 col-xl-3 counter-card-wrap">
                        <div class="counter-card">
                          <div class="counter-shape"><span></span></div>
                          <div class="media-body">
                            <h3 class="box-number">
                              <span class="counter-number">12</span>
                            </h3>
                            <h6 class="counter-title">Years Experience</h6>
                          </div>
                        </div>
                      </div> -->
                  <div class="row-by-two">
                    <div class="about-contact-grid">
                      <div class="about-contact-icon">
                        <img src="assets/img/icon/location-dot2.svg" alt="" />
                      </div>
                      <div class="about-contact-details">
                        <h6 class="box-title">Destinations</h6>

                        <p class="about-contact-details-text">
                          {{ travelerDetails.published_destinations_count }}
                        </p>
                      </div>
                    </div>

                    <div class="about-contact-grid">
                      <div style="font-size: 26px" class="about-contact-icon">
                        <i class="fa-solid fa-person-walking"></i>
                        <!-- <img src="assets/img/icon/mail.svg" alt="" /> -->
                      </div>
                      <div class="about-contact-details">
                        <h6 class="box-title">Activities</h6>
                        <p class="about-contact-details-text">
                          {{ travelerDetails.published_activities_count }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <app-destinations-by-user
        [user]="travelerDetails.user"
      ></app-destinations-by-user>
    </div>
  </div>
</section>

}
