.rating {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rating span {
  cursor: pointer;
  font-size: 18px;
}
.full-star {
  color: gold;
}

.empty-star {
  color: lightgray;
}
.half-star {
  color: gold;
}

.hovered-star {
  color: darkorange !important;
}
.rating span:hover ~ span .fa-icon,
.rating span:hover .fa-icon {
  color: darkorange !important;
}

.rating .rating-text {
  font-size: 16px;
  color: black;
  /* margin-top: 5px; */
  margin-left: 20px;
}

