<div class="container">
  <div class="th-sort-bar"></div>

  <div class="row">
    <div class="row gy-30">
      <h3>Destinations</h3>
      @for (destination of destinations; track destination.id){
      <div class="tour-box th-ani d-flex">
        <div class="tour-box_img global-img">
          <img [src]="destination.image" alt="image" />
        </div>
        <div class="tour-content flex-grow-1">
          <h3 class="box-title">
            <a routerLink="/destinations/{{ destination.id }}">{{
              destination.title
            }}</a>
          </h3>

          <div class="tour-rating">
            <div class="star-rating" role="img">
              <span [style.width.%]="destination.average_rating * 18">
                Rated
                <strong class="rating">{{ destination.rating }}</strong>
                out of 5 based on
                <span class="rating">{{ destination.rating }}</span> ({{
                  destination.rating
                }}
                Rating)
              </span>
            </div>
          </div>
          <h4 class="tour-box_price">
            <span>Location: {{ destination.location }}</span>
          </h4>
          <div class="tour-action">
            <span
              ><i class="fa-light fa-clock"></i
              >{{ destination.time }} Minute</span
            >
            <a
              routerLink="/destinations/{{ destination.id }}"
              class="th-btn style4 th-icon"
              >Details</a
            >
          </div>
        </div>
      </div>
      } @empty {
      <div class="col-12">
        <div class="alert" role="alert">No destinations yet...</div>
      </div>
      }
    </div>
  </div>
</div>
