@if (loading) {
<app-loader></app-loader>
}@else {
<section class="space" id="team-sec">
  <div class="container">
    <div class="row gy-4 gx-30" @listAnimation>
      @for (traveler of data; track traveler.user){

      <div class="col-xl-4 col-md-6">
        <div class="th-team team-grid">
          <div class="team-img">
            @if(traveler.cover){
            <img src="{{ traveler.cover }}" alt="Team" />}@else {
            <img
              src="https://res.cloudinary.com/dzpgrtewh/image/upload/v1732479353/hknqokmuuybfjzfizloj.png"
              alt="Team"
            />
            }
          </div>
          <div class="team-img2">
            @if(traveler.profile_picture){
            <img src="{{ traveler.profile_picture }}" alt="Team" />}@else {
            <img
              src="https://res.cloudinary.com/dzpgrtewh/image/upload/v1732479196/vtcfemon7lbumeccd1xu.jpg"
              alt="Team"
            />
            }
          </div>
          <div class="team-content">
            <div class="media-body">
              <h3 class="box-title">
                <a routerLink="/travelers/{{ traveler.user }}"
                  >{{ traveler.name }}
                </a>
                <app-rating
                  [rating]="traveler.average_rating"
                  [data]="traveler"
                  (rated)="rateTraveler(traveler.user, $event)"
                ></app-rating>
              </h3>
              <span class="team-desig">{{ traveler.occupation }}</span>
              <div class="th-social">
                <span class="traveler-text">
                  Destinations:
                  {{ traveler.published_destinations_count }}</span
                >
                <span class="traveler-text"
                  >Activities: {{ traveler.published_activities_count }}</span
                >
              </div>

              <div class="th-social">
                @if( traveler.facebook ){
                <a target="_blank" href="{{ traveler.facebook }}"
                  ><i class="fab fa-facebook-f"></i></a
                >} @if( traveler.linkedin ){
                <a target="_blank" href="{{ traveler.linkedin }}"
                  ><i class="fab fa-linkedin-in"></i></a
                >} @if( traveler.youtube ){
                <a target="_blank" href="{{ traveler.youtube }}"
                  ><i class="fab fa-youtube"></i></a
                >} @if( traveler.instagram ){
                <a target="_blank" href="{{ traveler.instagram }}"
                  ><i class="fab fa-instagram"></i></a
                >} @if( traveler.website ){
                <a target="_blank" href="{{ traveler.website }}"
                  ><i class="fa-solid fa-globe"></i></a
                >}
              </div>
            </div>
          </div>
        </div>
      </div>

      }
    </div>
  </div>
</section>
}
