.team-grid .team-img img {
  -webkit-transition: all 1.3s ease 0s;
  transition: all 1.3s ease 0s;
}
.th-team .team-img img {
  width: 100%;
  height: 220px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.rating-text {
  font-size: 14px;
  color: #777;
  margin-top: 5px;
}

.team-grid .team-img2 img {
  min-height: 276px;
}

.traveler-text {
  display: inline-block;
  color: #1ca8cb;
  padding-right: 20px;
  padding-bottom: 12px;
}

/* .traveler-text:hover {
  color: white;
} */

.team-grid:hover .traveler-text {
  color: var(--white-color);
}

.team-grid:hover .rating-text {
  color: var(--white-color);
}

.space,
.space-top {
  padding-top: 0px;
}

