@if(loading){
<app-loader></app-loader>
}@else {
<div class="th-checkout-wrapper space-extra-bottom">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form
          [formGroup]="profileForm"
          (ngSubmit)="onSubmit()"
          class="woocommerce-form-login"
        >
          <div class="form-group">
            <label>Name <span class="red">*</span></label>
            <input
              type="text"
              class="form-control"
              formControlName="name"
              placeholder="name"
            />
            <div
              *ngIf="
                profileForm.get('name')?.invalid &&
                profileForm.get('name')?.touched
              "
              class="text-danger"
            >
              <small *ngIf="profileForm.get('name')?.errors?.['required']"
                >Name is required.</small
              >
              <small *ngIf="profileForm.get('name')?.errors?.['pattern']"
                >Name must start with an uppercase and contains only
                letters.</small
              >
              <small *ngIf="profileForm.get('name')?.errors?.['maxlength']">
                Name must be a maximum of 30 letters.
              </small>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <div class="form-group">
                <label>City <span class="red">*</span></label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="city"
                  placeholder="City"
                />
                <div
                  *ngIf="
                    profileForm.get('city')?.invalid &&
                    profileForm.get('city')?.touched
                  "
                  class="text-danger"
                >
                  <small *ngIf="profileForm.get('city')?.errors?.['required']"
                    >City is required.</small
                  >
                </div>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <div class="form-group">
                <label>Occupation <span class="red">*</span></label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="occupation"
                  placeholder="Occupation"
                />
                <div
                  *ngIf="
                    profileForm.get('occupation')?.invalid &&
                    profileForm.get('occupation')?.touched
                  "
                  class="text-danger"
                >
                  <small
                    *ngIf="profileForm.get('occupation')?.errors?.['required']"
                    >Occupation is required.</small
                  >
                </div>
              </div>
            </div>

            <div class="col-md-6 form-group">
              <div class="form-group">
                <label>Website</label>
                <input
                  type="url"
                  class="form-control"
                  formControlName="website"
                  placeholder="Website"
                />
              </div>
            </div>
            <div class="col-md-6 form-group">
              <div class="form-group">
                <label>LinkedIn</label>
                <input
                  type="url"
                  class="form-control"
                  formControlName="linkedin"
                  placeholder="LinkedIn"
                />
              </div>
            </div>

            <div class="col-md-6 form-group">
              <div class="form-group">
                <label>Facebook</label>
                <input
                  type="url"
                  class="form-control"
                  formControlName="facebook"
                  placeholder="Facebook"
                />
              </div>
            </div>
            <div class="col-md-6 form-group">
              <div class="form-group">
                <label>Youtube</label>
                <input
                  type="url"
                  class="form-control"
                  formControlName="youtube"
                  placeholder="Youtubeurl"
                />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Instagram</label>
            <input
              type="url"
              class="form-control"
              formControlName="instagram"
              placeholder="Instagram url"
            />
          </div>
          <div class="form-group">
            <label>About <span class="red">*</span></label>
            <!-- <textarea
              class="form-control"
              formControlName="about"
              placeholder="About"
            ></textarea> -->
            <ckeditor
              id="about"
              formControlName="about"
              [editor]="Editor"
              [config]="config"
            ></ckeditor>
            <div
              *ngIf="
                profileForm.get('about')?.invalid &&
                profileForm.get('about')?.touched
              "
              class="text-danger"
            >
              <small *ngIf="profileForm.get('about')?.errors?.['required']"
                >About is required.</small
              >
            </div>
          </div>
          <div class="form-group">
            <label>Phone Number</label>
            <input
              type="text"
              class="form-control"
              formControlName="phone_number"
              placeholder="Phone Number"
            />
            <div
              *ngIf="
                profileForm.get('phone_number')?.invalid &&
                profileForm.get('phone_number')?.touched
              "
              class="text-danger"
            >
              <small
                *ngIf="profileForm.get('phone_number')?.errors?.['pattern']"
                >Phone Number must be between 10 and 15 digits.</small
              >
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <div class="form-group">
                <label>Profile Picture</label>
                <input
                  type="file"
                  class="form-control th-btn style4"
                  (change)="onFileChange($event, 'profile_picture')"
                />
              </div>
              <div *ngIf="imagePreviews['profile_picture']">
                <img
                  [src]="imagePreviews['profile_picture']"
                  alt="Image 1"
                  style="width: 100px; height: auto"
                />
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                  (click)="removeImage('profile_picture')"
                >
                  Remove
                </button>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <div class="form-group">
                <label>Cover</label>
                <input
                  type="file"
                  class="form-control th-btn style4"
                  (change)="onFileChange($event, 'cover')"
                />
              </div>

              <div *ngIf="imagePreviews['cover']">
                <img
                  [src]="imagePreviews['cover']"
                  alt="cover"
                  style="width: 100px; height: auto"
                />
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                  (click)="removeImage('cover')"
                >
                  Remove
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="th-btn">Update Profile</button>
          </div>

          <div *ngIf="profileForm.invalid" class="text-danger">
            <small *ngIf="profileForm.invalid"
              >Please fill all required fields.
            </small>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
}
