<div class="widget">
  <h3 class="widget_title">Top Rated Destinations</h3>
  <div class="recent-post-wrap">
    @for (destination of destinations; track destination.id) {
    <div class="recent-post">
      <div class="media-img">
        <a [routerLink]="['/destinations/', destination.id]">
          <img src="{{ destination.image }}" alt="Blog Image"
        /></a>
      </div>
      <div class="media-body">
        <h4 class="post-title">
          <a
            class="text-inherit"
            [routerLink]="['/destinations/', destination.id]"
            >{{ destination.title }}</a
          >
        </h4>
        <div class="recent-post-meta">
          <a [routerLink]="['/destinations/', destination.id]"
            ><i class="fa-regular fa-calendar"></i
            >{{ destination.created_at | date : "MMM d, y" }}</a
          >
        </div>
      </div>
    </div>
    }
  </div>
</div>
