<section class="space">
  <div class="container">
    <div class="row">
      <div class="page-single">
        <div class="service-img">
          <img src="{{ data.image }}" alt="" />
        </div>
        <div class="page-content">
          <div class="page-meta mt-50 mb-45">
            <a class="page-tag" [routerLink]="['/travelers/', traveler.user]"
              >Author: {{ traveler.name }}</a
            >
            <div class="inline">
              <app-rating
                [rating]="data.average_rating"
                [data]="data"
                (rated)="rateDestination($event)"
              ></app-rating>
            </div>
            @if(!isFavorite){
            <button (click)="addToFavorites(data.id)" class="ratting">
              <i class="fa fa-heart"></i>
              Add to Favorites</button
            >}@else{
            <button (click)="removeFromFavorites(data.id)" class="ratting">
              <i class="fa fa-heart text-danger"></i>
              Remove from Favorites
            </button>
            }
          </div>

          <h2 class="box-title">{{ data.name }}</h2>
          <p class="blog-text mb-30" [innerHTML]="data.description"></p>
        </div>
        <div class="destination-gallery-wrapper">
          @if (galleryData.length > 0) {
          <app-gallery-lightbox
            [galleryData]="galleryData"
          ></app-gallery-lightbox
          >}
        </div>

        <div class="destination-gallery-wrapper">
          <app-google-map
            [location]="data.location"
            [lat]="data.lat"
            [lng]="data.lng"
          ></app-google-map>
        </div>
        <!-- <div class="th-comments-wrap style2">
          <h2 class="blog-inner-title h4">Reviews (3)</h2>
          <ul class="comment-list">
            <li class="th-comment-item">
              <div class="th-post-comment">
                <div class="comment-avater">
                  <img
                    src="../../assets/img/blog/comment-author-1.jpg"
                    alt="Comment Author"
                  />
                </div>
                <div class="comment-content">
                  <h3 class="name">Adam Jhon</h3>
                  <div class="commented-wrapp">
                    <span class="commented-on">20 Jun, 2024</span>
                    <span class="commented-time">08:56pm </span>
                    <span class="comment-review">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                    </span>
                  </div>
                  <p class="text">
                    Credibly pontificate transparent quality vectors with
                    quality mindshare. Efficiently architect worldwide strategic
                    theme areas after user.
                  </p>
                  <div class="reply_and_edit">
                    <i class="fa-solid fa-thumbs-up"></i>
                  </div>
                </div>
              </div>
              <ul class="children">
                <li class="th-comment-item">
                  <div class="th-post-comment">
                    <div class="comment-avater">
                      <img
                        src="../../assets/img/blog/comment-author-4.jpg"
                        alt="Comment Author"
                      />
                    </div>
                    <div class="comment-content">
                      <div class="">
                        <h3 class="name">Maria Willson</h3>
                        <div class="commented-wrapp">
                          <span class="commented-on">23 Jun, 2024</span>
                          <span class="commented-time">08:56pm </span>
                          <span class="comment-review">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                          </span>
                        </div>
                      </div>
                      <p class="text">
                        It is different from airport transfer or port transfer,
                        which are services that pick you up
                      </p>
                      <div class="reply_and_edit">
                        <i class="fa-solid fa-thumbs-up"></i>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li class="th-comment-item">
              <div class="th-post-comment">
                <div class="comment-avater">
                  <img
                    src="../../assets/img/blog/comment-author-5.jpg"
                    alt="Comment Author"
                  />
                </div>
                <div class="comment-content">
                  <div class="">
                    <h3 class="name">Michel Edwards</h3>
                    <div class="commented-wrapp">
                      <span class="commented-on">27 Jun, 2024</span>
                      <span class="commented-time">08:56pm </span>
                      <span class="comment-review">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                      </span>
                    </div>
                  </div>
                  <p class="text">
                    Credibly pontificate transparent quality vectors with
                    quality mindshare. Efficiently architect worldwide strategic
                    theme areas after user.
                  </p>
                  <div class="reply_and_edit">
                    <i class="fa-solid fa-thumbs-up"></i>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div> -->

        <app-destination-comments
          [destinationId]="destinationId"
        ></app-destination-comments>
        <!-- Comment end -->
        <!-- Comment Form -->
      </div>
    </div>
  </div>
</section>
