@if(loading){
<app-loader></app-loader>
}@else{
<section class="space" @fadeSlideIn>
  <div class="container">
    <div class="row">
      <div class="page-single">
        <div class="service-img">
          <img src="{{ data.image }}" alt="" />
        </div>
        <div class="page-content">
          <div class="page-meta mt-50 mb-45">
            <a class="page-tag" [routerLink]="['/travelers/', traveler.user]"
              >Author: {{ traveler.name }}</a
            >
            <div class="inline">
              <app-rating
                [rating]="data.average_rating"
                [data]="data"
                (rated)="rateDestination($event)"
              ></app-rating>
            </div>
            <!-- @if(!isFavorite){
            <button (click)="addToFavorites(data.id)" class="ratting">
              <i class="fa fa-heart"></i>
              Add to Favorites</button
            >}@else{
            <button (click)="removeFromFavorites(data.id)" class="ratting">
              <i class="fa fa-heart text-danger"></i>
              Remove from Favorites
            </button>
            } -->
            <button (click)="toggleFavorite()" class="ratting">
              <i
                class="fa fa-heart"
                [ngClass]="{ 'text-danger': isFavorite }"
              ></i>
              @if (!isFavorite) { Add to Favorites } @else { Remove from
              Favorites }
            </button>
          </div>

          <h2 class="box-title">{{ data.title }}</h2>
          <p class="blog-text mb-30" [innerHTML]="data.description"></p>
        </div>
        <div class="destination-gallery-wrapper">
          @if (galleryData.length > 0) {
          <app-gallery-lightbox
            [galleryData]="galleryData"
          ></app-gallery-lightbox
          >}
        </div>

        <div class="destination-gallery-wrapper">
          <app-google-map
            [location]="data.location"
            [lat]="data.lat"
            [lng]="data.lng"
          ></app-google-map>
        </div>

        <app-destination-comments
          [destinationId]="destinationId"
        ></app-destination-comments>
      </div>
    </div>
  </div>
</section>
}
