@if(authService.currentUser().user_type == "BusinessProfile"){
<section class="space">
  <div class="container">
    <div class="row">
      <div class="col-xxl-9 col-lg-8">
        <router-outlet></router-outlet>
      </div>
      <div class="col-xxl-3 col-lg-4">
        <aside class="sidebar-area style2">
          <div class="widget widget_categories">
            <h3 class="widget_title">Menu Business</h3>
            <ul>
              <li>
                <a
                  routerLink="/profile"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  ><img src="assets/img/theme-img/map.svg" alt="" />Dashboard</a
                >
              </li>
              <li>
                <a routerLink="/profile/edit-profile" routerLinkActive="active"
                  ><img src="assets/img/theme-img/map.svg" alt="" />Edit Profile
                </a>
              </li>
              <li>
                <a routerLink="/profile/add-hotel" routerLinkActive="active"
                  ><img src="assets/img/theme-img/map.svg" alt="" />Add Hotel</a
                >
              </li>
              <li>
                <a routerLink="/profile/my-hotels" routerLinkActive="active"
                  ><img src="assets/img/theme-img/map.svg" alt="" />My Hotels</a
                >
                <span
                  >({{
                    authService.currentUser()?.user?.published_hotels_count
                  }})</span
                >
              </li>
              <li>
                <a
                  routerLink="/profile/add-activities"
                  routerLinkActive="active"
                  ><img src="assets/img/theme-img/map.svg" alt="" />Add
                  Activities</a
                >
              </li>
              <li>
                <a routerLink="/profile/my-activities" routerLinkActive="active"
                  ><img src="assets/img/theme-img/map.svg" alt="" />My
                  Activities</a
                >
                <span
                  >({{
                    authService.currentUser()?.user?.published_activities_count
                  }})</span
                >
              </li>
              <li>
                <a routerLink="/profile/bookmarked" routerLinkActive="active"
                  ><img src="assets/img/theme-img/map.svg" alt="" />Bookmarked
                </a>
                <span></span>
              </li>
              <li>
                <a class="red" (click)="openModal()"
                  ><img src="assets/img/theme-img/map.svg" alt="" />Delete
                  Profile</a
                >
              </li>
            </ul>
          </div>
          <app-delete-confirmation-modal
            *ngIf="showModal"
            (confirm)="confirmDelete()"
            (cancel)="closeModal()"
          ></app-delete-confirmation-modal>
          <app-banner></app-banner>
        </aside>
      </div>
    </div>
  </div>
</section>
} @else{
<section class="space">
  <div class="container">
    <div class="row">
      <div class="col-xxl-9 col-lg-8">
        <router-outlet></router-outlet>
      </div>
      <div class="col-xxl-3 col-lg-4">
        <aside class="sidebar-area style2">
          <div class="widget widget_categories">
            <h3 class="widget_title">Menu</h3>
            <ul>
              <li>
                <a
                  routerLink="/profile"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact: true }"
                  ><img src="assets/img/theme-img/map.svg" alt="" />Dashboard</a
                >
              </li>
              <li>
                <a routerLink="/profile/edit" routerLinkActive="active"
                  ><img src="assets/img/theme-img/map.svg" alt="" />Edit Profile
                </a>
              </li>
              <li>
                <a
                  routerLink="/profile/add-destination"
                  routerLinkActive="active"
                  ><img src="assets/img/theme-img/map.svg" alt="" />Add
                  Destination</a
                >
              </li>
              <li>
                <a
                  routerLink="/profile/my-destinations"
                  routerLinkActive="active"
                  ><img src="assets/img/theme-img/map.svg" alt="" />My
                  Destinations</a
                >
                <span
                  >({{
                    authService.currentUser()?.user
                      ?.published_destinations_count
                  }})</span
                >
              </li>
              <li>
                <a
                  routerLink="/profile/add-activities"
                  routerLinkActive="active"
                  ><img src="assets/img/theme-img/map.svg" alt="" />Add
                  Activities</a
                >
              </li>
              <li>
                <a routerLink="/profile/my-activities" routerLinkActive="active"
                  ><img src="assets/img/theme-img/map.svg" alt="" />My
                  Activities</a
                >
                <span
                  >({{
                    authService.currentUser()?.user?.published_activities_count
                  }})</span
                >
              </li>
              <li>
                <a routerLink="/profile/bookmarked" routerLinkActive="active"
                  ><img src="assets/img/theme-img/map.svg" alt="" />Bookmarked
                </a>
                <span></span>
              </li>
              <li>
                <a class="red" (click)="openModal()"
                  ><img src="assets/img/theme-img/map.svg" alt="" />Delete
                  Profile</a
                >
              </li>
            </ul>
          </div>
          <app-delete-confirmation-modal
            *ngIf="showModal"
            (confirm)="confirmDelete()"
            (cancel)="closeModal()"
          ></app-delete-confirmation-modal>

          <app-banner></app-banner>
        </aside>
      </div>
    </div>
  </div>
</section>
}
