<div class="space">
  <div class="container">
    <div class="title-area text-center">
      <span class="sub-title">Get In Touch</span>
      <h2 class="sec-title">Our Contact Information</h2>
    </div>
    <div class="row gy-4 justify-content-center">
      <div class="col-xl-4 col-lg-6">
        <div class="about-contact-grid style2">
          <div class="about-contact-icon">
            <img src="assets/img/icon/location-dot2.svg" alt="" />
          </div>
          <div class="about-contact-details">
            <h6 class="box-title">Our Address</h6>
            <p class="about-contact-details-text">8000 Burgas, Bulgaria</p>
            <p class="about-contact-details-text">str. Kalofer 6</p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6">
        <div class="about-contact-grid">
          <div class="about-contact-icon">
            <img src="assets/img/icon/call.svg" alt="" />
          </div>
          <div class="about-contact-details">
            <h6 class="box-title">Phone Number</h6>
            <p class="about-contact-details-text">
              <a href="tel:01234567890">+359 888 000 000</a>
            </p>
            <p class="about-contact-details-text">
              <a href="tel:01234567890">+359 02 000 000</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6">
        <div class="about-contact-grid">
          <div class="about-contact-icon">
            <img src="assets/img/icon/mail.svg" alt="" />
          </div>
          <div class="about-contact-details">
            <h6 class="box-title">Email Address</h6>
            <p class="about-contact-details-text">
              <a href="mailto:mailinfo00@tourm.com">{{
                "info@travelerbg.com"
              }}</a>
            </p>
            <p class="about-contact-details-text">
              <a href="mailto:support24@tourm.com">{{
                "manager@travelerbg.com"
              }}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="space-extra2-top space-extra2-bottom"
  [appSetBgImage]="'assets/img/hero/hero_bg_1_2.jpg'"
>
  <div class="container">
    <div class="row flex-row-reverse justify-content-center align-items-center">
      <div class="col-lg-6">
        <div class="video-box1">
          <a
            href="https://www.youtube.com/watch?v=WfqT-OVIeWc"
            class="play-btn style2 popup-video"
            target="_blank"
            ><i class="fa-sharp fa-solid fa-play"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-6">
        <div>
          <form
            [formGroup]="contactForm"
            (ngSubmit)="onSubmit()"
            class="contact-form style2 ajax-contact"
          >
            <h3 class="sec-title mb-30 text-capitalize">Contact form</h3>
            <div class="row">
              <div class="col-12 form-group">
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                  placeholder="First Name"
                />
                <img src="assets/img/icon/user.svg" alt="" />
                <div
                  *ngIf="
                    contactForm.get('name')?.invalid &&
                    contactForm.get('name')?.touched
                  "
                  class="text-danger"
                >
                  <small *ngIf="contactForm.get('name')?.errors?.['required']"
                    >Name is required.</small
                  >
                </div>
              </div>
              <div class="col-12 form-group">
                <input
                  type="email"
                  class="form-control"
                  formControlName="email"
                  placeholder="Your Mail"
                />
                <img src="assets/img/icon/mail.svg" alt="" />
                <div
                  *ngIf="
                    contactForm.get('email')?.invalid &&
                    contactForm.get('email')?.touched
                  "
                  class="text-danger"
                >
                  <small *ngIf="contactForm.get('email')?.errors?.['required']"
                    >Email is required.</small
                  >
                  <small *ngIf="contactForm.get('email')?.errors?.['email']"
                    >Invalid email address.</small
                  >
                </div>
              </div>
              <div class="form-group col-12">
                <textarea
                  formControlName="message"
                  cols="30"
                  rows="3"
                  class="form-control"
                  placeholder="Your Message"
                ></textarea>
                <img src="assets/img/icon/chat.svg" alt="" />
                <div
                  *ngIf="
                    contactForm.get('message')?.invalid &&
                    contactForm.get('message')?.touched
                  "
                  class="text-danger"
                >
                  <small
                    *ngIf="contactForm.get('message')?.errors?.['required']"
                    >Message is required.</small
                  >
                </div>
              </div>
              <div class="form-btn col-12 mt-24">
                <button class="th-btn style3">
                  Send message <img src="assets/img/icon/plane.svg" alt="" />
                </button>
              </div>
            </div>
            <p class="form-messages mb-0 mt-3"></p>
          </form>
          <!-- <form class="contact-form style2 ajax-contact">
            <h3 class="sec-title mb-30 text-capitalize">Contact form</h3>
            <div class="row">
              <div class="col-12 form-group">
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  id="name3"
                  placeholder="First Name"
                />
                <img src="assets/img/icon/user.svg" alt="" />
              </div>
              <div class="col-12 form-group">
                <input
                  type="email"
                  class="form-control"
                  name="email3"
                  id="email3"
                  placeholder="Your Mail"
                />
                <img src="assets/img/icon/mail.svg" alt="" />
              </div>

              <div class="form-group col-12">
                <textarea
                  name="message"
                  id="message"
                  cols="30"
                  rows="3"
                  class="form-control"
                  placeholder="Your Message"
                ></textarea>
                <img src="assets/img/icon/chat.svg" alt="" />
              </div>
              <div class="form-btn col-12 mt-24">
                <button disabled class="th-btn style3">
                  Send message <img src="assets/img/icon/plane.svg" alt="" />
                </button>
              </div>
            </div>
            <p class="form-messages mb-0 mt-3"></p>
          </form> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="" style="margin-top: 30px">
  <div class="container-fluid">
    <div class="contact-map style2">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2924.9999999999995!2d27.467933315316!3d42.497512979179!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a6951b1b1b1b1b%3A0x1b1b1b1b1b1b1b1b!2sBourgas%2C%20Bulgaria!5e0!3m2!1sen!2sbg!4v1651028958211!5m2!1sen!2sbg"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
      <div class="contact-icon">
        <img src="assets/img/icon/location-dot3.svg" alt="" />
      </div>
    </div>
  </div>
</div>
