<div class="th-comments-wrap style2">
  <h2 class="blog-inner-title h4">Comments ({{ comments.length }})</h2>
  <ul class="comment-list">
    @for (comment of comments; track comment.id) {
    <li class="th-comment-item">
      <div class="th-post-comment">
        <div class="comment-avater">
          @if (comment.user && comment.user.profile_picture ) {
          <img
            src="{{ comment.user.profile_picture }}"
            alt="Comment Author"
          />}@else if(comment.user && comment.user.image ){<img
            src="{{ comment.user.image }}"
            alt="Comment Author"
          />}@else {
          <img
            src="https://res.cloudinary.com/dzpgrtewh/image/upload/v1732479196/vtcfemon7lbumeccd1xu.jpg"
            alt="Comment Author"
          />}
        </div>
        <div class="comment-content">
          <h3 class="name">{{ comment.name }}</h3>
          <div class="commented-wrapp">
            <span class="commented-on">{{
              comment.created_at | date : "medium"
            }}</span>
            <!-- <span class="commented-time">08:56pm </span> -->
          </div>
          <p class="text comment-content">
            {{ comment.text }}
          </p>
        </div>
      </div>
    </li>
    }
  </ul>
</div>
@if(authService.isLoggedIn()) {
<div class="th-comment-form">
  <div class="row">
    <h3 class="blog-inner-title h4 mb-2">Leave a Reply</h3>

    <form
      [formGroup]="commentFormRegistred"
      (ngSubmit)="onSubmitRegisteredComment()"
    >
      <div class="col-12 form-group">
        <textarea
          placeholder="Comment*"
          class="form-control"
          formControlName="text"
          required
        ></textarea>
        <i class="far fa-pencil"></i>
        <div
          *ngIf="
            commentFormRegistred.get('text')?.touched &&
            commentFormRegistred.get('text')?.invalid
          "
          class="text-danger"
        >
          Comment is required.
        </div>
      </div>

      <div class="col-12 form-group mb-0">
        <button class="th-btn" type="submit">
          Send Message<img src="assets/img/icon/plane2.svg" alt="" />
        </button>
      </div>
    </form>
  </div>
</div>
}@else {
<div class="th-comment-form">
  <div class="row">
    <h3 class="blog-inner-title h4 mb-2">Leave a Reply</h3>
    <p class="mb-25">
      Your email address will not be published. Required fields are marked
    </p>
    <form [formGroup]="commentForm" (ngSubmit)="onSubmitComment()">
      <div class="col-md-6 form-group">
        <input
          type="text"
          placeholder="Full Name*"
          class="form-control"
          formControlName="name"
          required
        />
        <i class="far fa-user"></i>
        <div
          *ngIf="
            commentForm.get('name')?.touched && commentForm.get('name')?.invalid
          "
          class="text-danger"
        >
          Name is required.
        </div>
      </div>
      <div class="col-md-6 form-group">
        <input
          type="email"
          placeholder="Your Email*"
          class="form-control"
          formControlName="email"
          required
        />
        <i class="far fa-envelope"></i>
        <div
          *ngIf="
            commentForm.get('email')?.touched &&
            commentForm.get('email')?.invalid
          "
          class="text-danger"
        >
          Email is required.
        </div>
      </div>
      <div class="col-12 form-group">
        <input
          type="text"
          placeholder="Website"
          class="form-control"
          formControlName="website"
        />
        <i class="far fa-globe"></i>
      </div>
      <div class="col-12 form-group">
        <textarea
          placeholder="Comment*"
          class="form-control"
          formControlName="text"
          required
        ></textarea>
        <i class="far fa-pencil"></i>
        <div
          *ngIf="
            commentForm.get('text')?.touched && commentForm.get('text')?.invalid
          "
          class="text-danger"
        >
          Comment is required.
        </div>
      </div>
      <div class="col-12 form-group mb-0">
        <button class="th-btn" type="submit">
          Send Message<img src="assets/img/icon/plane2.svg" alt="" />
        </button>
      </div>
    </form>
  </div>
</div>
}
