@if (loading) {
<app-loader></app-loader>
}@else {
<div class="row gy-30" @listAnimation>
  @for (hotel of data; track hotel.id){
  <div class="col-xxl-4 col-xl-6">
    <div class="tour-box th-ani">
      <div class="tour-box_img global-img">
        <img src="{{ hotel.image }}" alt="image" />
      </div>
      <div class="tour-content">
        <h3 class="box-title">
          <!-- <a routerLink="/destinations/{{ destination.id }}">{{
            destination.title
          }}</a> -->
          <a [routerLink]="hotel.id">{{ hotel.name }}</a>
        </h3>
        <div class="tour-rating">
          <app-rating
            [rating]="hotel.average_rating"
            [data]="hotel"
            (rated)="rateDestination(hotel.id, $event)"
          ></app-rating>
        </div>
        <h4 class="tour-box_price">
          <span class="currency">{{ hotel.price }}</span
          >/Person
        </h4>

        <div class="tour-action">
          <span><i class="fa-light fa-map"></i>{{ hotel.location }}</span>
          <a [routerLink]="[hotel.id]" class="th-btn style4 th-icon">Details</a>
        </div>
      </div>
    </div>
  </div>
  }
</div>
<div class="th-pagination text-center mt-60">
  <ul>
    <li>
      <a
        class="next-page"
        (click)="changePage(currentPage - 1)"
        [class.disabled]="currentPage === 1"
        href="javascript:void(0)"
        >Previous <img src="./assets/img/icon/arrow-left4.svg" alt=""
      /></a>
    </li>
    @for (page of getPaginationArray(); track $index) {
    <li>
      <a
        [class.active]="page === currentPage"
        (click)="changePage(page)"
        href="javascript:void(0)"
        >{{ page }}</a
      >
    </li>
    }
    <li>
      <a
        class="next-page"
        (click)="changePage(currentPage + 1)"
        [class.disabled]="currentPage === totalPages"
        href="javascript:void(0)"
        >Next <img src="./assets/img/icon/arrow-right4.svg" alt=""
      /></a>
    </li>
  </ul>
</div>
}
