@if(travelerDetails){
<section>
  <div class="container">
    <div class="team-details">
      <div class="row gy-5 mb-3 mb-xl-5 pb-xl-4">
        <div class="col-xl-4">
          <div class="th-team team-grid">
            <div class="team-img">
              <img
                src="https://res.cloudinary.com/drjgddl0y/{{
                  travelerDetails?.cover
                }}"
                alt="Team"
              />
            </div>
            <div class="team-img2">
              <img
                src="https://res.cloudinary.com/drjgddl0y/{{
                  travelerDetails?.profile_picture
                }}"
                alt="Team"
              />
            </div>
            <div class="team-content">
              <div class="media-body">
                <h3 class="box-title">
                  <a>{{ travelerDetails.name }} </a>
                </h3>
                <app-rating
                  [rating]="travelerDetails.average_rating"
                  [data]="travelerDetails"
                  (rated)="rateTraveler(travelerDetails.user, $event)"
                ></app-rating>
                <span class="team-desig">{{ travelerDetails.occupation }}</span>

                <div class="th-social">
                  @if(travelerDetails.facebook){
                  <a target="_blank" href="{{ travelerDetails.facebook }}"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  } @if(travelerDetails.website){
                  <a target="_blank" href="{{ travelerDetails.website }}"
                    ><i class="fab fa-link"></i></a
                  >} @if(travelerDetails.linkedin){
                  <a target="_blank" href="{{ travelerDetails.linkedin }}"
                    ><i class="fab fa-linkedin-in"></i></a
                  >} @if(travelerDetails.youtube){
                  <a target="_blank" href="{{ travelerDetails.youtube }}"
                    ><i class="fab fa-youtube"></i></a
                  >} @if(travelerDetails.instagram){
                  <a target="_blank" href="{{ travelerDetails.instagram }}"
                    ><i class="fab fa-instagram"></i></a
                  >}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 ps-3 ps-xl-5 pe-xl-4">
          <div class="team-about">
            <h2 class="team-about_title">About Me</h2>
            <p class="team-about_text mb-25">
              {{ travelerDetails.about }}
            </p>
            <div class="counter-area space">
              <div class="container">
                <div class="row">
                  <!-- <div class="col-sm-6 col-xl-3 counter-card-wrap">
                    <div class="counter-card">
                      <div class="counter-shape"><span></span></div>
                      <div class="media-body">
                        <h3 class="box-number">
                          <span class="counter-number">12</span>
                        </h3>
                        <h6 class="counter-title">Years Experience</h6>
                      </div>
                    </div>
                  </div> -->

                  <div class="col-sm-6 col-xl-3 counter-card-wrap">
                    <div class="counter-card">
                      <div class="counter-shape"><span></span></div>
                      <div class="media-body">
                        <h3 class="box-number">
                          <span class="counter-number">{{
                            travelerDetails.published_destinations_count
                          }}</span>
                        </h3>
                        <h6 class="counter-title">Destinations</h6>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6 col-xl-3 counter-card-wrap">
                    <div class="counter-card">
                      <div class="counter-shape"><span></span></div>
                      <div class="media-body">
                        <h3 class="box-number">
                          <span class="counter-number">{{
                            travelerDetails.published_destinations_count
                          }}</span>
                        </h3>
                        <h6 class="counter-title">Activities</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <app-destinations-by-user
              [user]="travelerDetails.user"
            ></app-destinations-by-user>
          </div>
        </div>
      </div>
      <h2 class="box-title mb-30">Contact With Me</h2>
      <div class="row gy-4 justify-content-center">
        <div class="col-xl-4 col-lg-6">
          <div class="about-contact-grid style2">
            <div class="about-contact-icon">
              <img src="assets/img/icon/location-dot2.svg" alt="" />
            </div>
            <div class="about-contact-details">
              <h6 class="box-title">Our Address</h6>

              <p class="about-contact-details-text">
                {{ travelerDetails.city }}
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <div class="about-contact-grid">
            <div class="about-contact-icon">
              <img src="assets/img/icon/call.svg" alt="" />
            </div>
            <div class="about-contact-details">
              <h6 class="box-title">Phone Number</h6>
              <p class="about-contact-details-text">
                <a href="tel:01234567890">{{ travelerDetails.phone_number }}</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <div class="about-contact-grid">
            <div class="about-contact-icon">
              <img src="assets/img/icon/mail.svg" alt="" />
            </div>
            <div class="about-contact-details">
              <h6 class="box-title">Email Address</h6>
              <p class="about-contact-details-text">
                <a>{{ travelerDetails.email }}</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

}
