<!-- <div class="th-checkout-wrapper space-extra-bottom">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form
          class="woocommerce-form-login"
          [formGroup]="addDestinationForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="form-group">
            <label for="title">Title</label>
            <input
              class="form-control"
              id="title"
              formControlName="title"
              type="text"
            />
          </div>
          <div class="form-group">
            <label for="tags">Tags</label>
            <input
              class="form-control"
              id="tags"
              formControlName="tags"
              type="text"
            />
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <select
              class="form-control"
              id="category"
              formControlName="category"
            >
              <option *ngFor="let category of categories" [value]="category.id">
                {{ category.name }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="basic_information">Basic Information</label>
            <textarea
              id="basic_information"
              formControlName="basic_information"
            ></textarea>
          </div>
          <div class="form-group">
            <label for="responsibilities">Responsibilities</label>
            <textarea
              id="responsibilities"
              formControlName="responsibilities"
            ></textarea>
          </div>
          <div class="form-group">
            <label for="benefits">Benefits</label>
            <textarea id="benefits" formControlName="benefits"></textarea>
          </div>
          <div class="form-group">
            <label for="image">Image</label>
            <input
              class="form-control"
              id="image"
              type="file"
              (change)="onFileChange($event, 'image')"
            />
            <div
              *ngIf="
                addDestinationForm.get('image')?.touched &&
                addDestinationForm.get('image')?.invalid
              "
              class="text-danger"
            >
              Image is required.
            </div>
          </div>
          <div class="form-group">
            <label for="image2">Image 2</label>
            <input
              class="form-control"
              id="image2"
              type="file"
              (change)="onFileChange($event, 'image2')"
            />
          </div>
          <div class="form-group">
            <label for="image3">Image 3</label>
            <input
              class="form-control"
              id="image3"
              type="file"
              (change)="onFileChange($event, 'image3')"
            />
          </div>
          <div class="form-group">
            <label for="image4">Image 4</label>
            <input
              class="form-control"
              id="image4"
              type="file"
              (change)="onFileChange($event, 'image4')"
            />
          </div>
          <div class="form-group">
            <label for="image5">Image 5</label>
            <input
              class="form-control"
              id="image5"
              type="file"
              (change)="onFileChange($event, 'image5')"
            />
          </div>
          <div class="form-group">
            <label for="image6">Image 6</label>
            <input
              class="form-control"
              id="image6"
              type="file"
              (change)="onFileChange($event, 'image6')"
            />
          </div>
          <div class="form-group">
            <label for="vacancy">Vacancy</label>
            <input
              class="form-control"
              id="vacancy"
              formControlName="vacancy"
              type="number"
            />
          </div>
          <div class="form-group">
            <label for="location">Location</label>
            <input
              class="form-control"
              id="location"
              formControlName="location"
              type="text"
            />
          </div>
          <div class="form-group">
            <label for="cost">Cost</label>
            <input
              class="form-control"
              id="cost"
              formControlName="cost"
              type="text"
            />
          </div>
          <div class="form-group">
            <label for="is_published">Is Published</label>
            <input
              class="form-control"
              id="is_published"
              formControlName="is_published"
              type="checkbox"
            />
          </div>
          <button type="submit" class="th-btn">Add Destination</button>
        </form>
      </div>
    </div>
  </div>
</div> -->
<div class="th-checkout-wrapper space-extra-bottom">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form
          class="woocommerce-form-login"
          [formGroup]="addDestinationForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="form-group">
            <label for="title">Title <span class="red">*</span></label>
            <input
              class="form-control"
              id="title"
              formControlName="title"
              type="text"
            />
            <div
              *ngIf="
                addDestinationForm.get('title')?.touched &&
                addDestinationForm.get('title')?.invalid
              "
              class="text-danger"
            >
              Title is required.
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <div class="form-group">
                <label>Tags <span class="red">*</span></label>

                <div class="form-group">
                  <label for="newTag"></label>
                  <input
                    class="form-control"
                    id="newTag"
                    formControlName="newTag"
                    type="text"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <button type="button" class="th-btn style3" (click)="addNewTag()">
                Add Tag
              </button>
            </div>

            <div
              *ngIf="addDestinationForm.get('tags')?.invalid"
              class="text-danger"
            >
              At least one tag is required.
            </div>
            <div class="added-tags">
              <div
                class="tag-box"
                *ngFor="let tag of tags.controls; let i = index"
              >
                <!-- <span>{{ tag.value }}</span> -->
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                  (click)="removeTag(i)"
                >
                  {{ tag.value }}
                  x
                </button>
              </div>
            </div>
          </div>

          <!-- <div class="form-group">
            <label for="tags">Tags</label>
            <input
              class="form-control"
              id="tags"
              formControlName="tags"
              type="text"
            />
            <div
              *ngIf="
                addDestinationForm.get('tags')?.touched &&
                addDestinationForm.get('tags')?.invalid
              "
              class="text-danger"
            >
              Tags are required.
            </div>
          </div> -->
          <div class="form-group">
            <label for="category">Category <span class="red">*</span></label>
            <select
              class="form-control"
              id="category"
              formControlName="category"
            >
              <option *ngFor="let category of categories" [value]="category.id">
                {{ category.name }}
              </option>
            </select>
            <div
              *ngIf="
                addDestinationForm.get('category')?.touched &&
                addDestinationForm.get('category')?.invalid
              "
              class="text-danger"
            >
              Category is required.
            </div>
          </div>
          <div class="form-group">
            <label for="basic_information"
              >Desciption <span class="red">*</span></label
            >
            <!-- <textarea
              class="form-control"
              id="basic_information"
              formControlName="basic_information"
            ></textarea> -->
            <ckeditor
              id="desciption"
              formControlName="desciption"
              [editor]="Editor"
              [config]="config"
              id="description"
            ></ckeditor>
            <div
              *ngIf="
                addDestinationForm.get('desciption')?.touched &&
                addDestinationForm.get('desciption')?.invalid
              "
              class="text-danger"
            >
              Desciption is required.
            </div>
          </div>

          <div class="form-group">
            <label for="cost">Duration <span class="red">*</span></label>
            <input
              class="form-control"
              id="time"
              formControlName="time"
              type="number"
            />
          </div>
          <div
            *ngIf="
              addDestinationForm.get('time')?.touched &&
              addDestinationForm.get('time')?.invalid
            "
            class="text-danger"
          >
            Duration is required.
          </div>
          <div class="row">
            <div class="col-md-4 form-group">
              <div class="form-group">
                <label for="image">Image 1 <span class="red">*</span></label>
                <input
                  class="form-control th-btn style4"
                  id="image"
                  type="file"
                  (change)="onFileChange($event, 'image')"
                />

                <div
                  *ngIf="
                    addDestinationForm.get('image')?.touched &&
                    addDestinationForm.get('image')?.invalid
                  "
                  class="text-danger"
                >
                  Image is required.
                </div>
                <div *ngIf="imagePreviews['image']">
                  <img
                    [src]="imagePreviews['image']"
                    alt="Image 1"
                    style="width: 100px; height: auto"
                  />
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    (click)="removeImage('image')"
                  >
                    Remove
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-4 form-group">
              <div class="form-group">
                <label for="image2">Image 2</label>
                <input
                  class="form-control th-btn style4"
                  id="image2"
                  type="file"
                  (change)="onFileChange($event, 'image2')"
                />
                <div *ngIf="imagePreviews['image2']">
                  <img
                    [src]="imagePreviews['image2']"
                    alt="Image 2"
                    style="width: 100px; height: auto"
                  />
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    (click)="removeImage('image2')"
                  >
                    Remove
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-4 form-group">
              <div class="form-group">
                <label for="image3">Image 3</label>
                <input
                  class="form-control th-btn style4"
                  id="image3"
                  type="file"
                  (change)="onFileChange($event, 'image3')"
                />
                <div *ngIf="imagePreviews['image3']">
                  <img
                    [src]="imagePreviews['image3']"
                    alt="Image 3"
                    style="width: 100px; height: auto"
                  />
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    (click)="removeImage('image3')"
                  >
                    Remove
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 form-group">
              <div class="form-group">
                <label for="image4">Image 4</label>
                <input
                  class="form-control th-btn style4"
                  id="image4"
                  type="file"
                  (change)="onFileChange($event, 'image4')"
                />
                <div *ngIf="imagePreviews['image4']">
                  <img
                    [src]="imagePreviews['image4']"
                    alt="Image 4"
                    style="width: 100px; height: auto"
                  />
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    (click)="removeImage('image4')"
                  >
                    Remove
                  </button>
                </div>
              </div>
            </div>

            <div class="col-md-4 form-group">
              <div class="form-group">
                <label for="image5">Image 5</label>
                <input
                  class="form-control th-btn style4"
                  id="image5"
                  type="file"
                  (change)="onFileChange($event, 'image5')"
                />
                <div *ngIf="imagePreviews['image5']">
                  <img
                    [src]="imagePreviews['image5']"
                    alt="Image 5"
                    style="width: 100px; height: auto"
                  />
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    (click)="removeImage('image5')"
                  >
                    Remove
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="form-group">
            <label for="location">Location</label>
            <input
              class="form-control"
              id="location"
              formControlName="location"
              type="text"
            />
            <div
              *ngIf="
                addDestinationForm.get('location')?.touched &&
                addDestinationForm.get('location')?.invalid
              "
              class="text-danger"
            >
              Location is required.
            </div>
          </div> -->
          <div class="form-group">
            <label for="location"
              >Location ( Write location or select on map )
              <span class="red">*</span></label
            >
            <input
              class="form-control"
              id="location"
              formControlName="location"
              type="text"
              (change)="onLocationChange()"
            />
            <div
              *ngIf="
                addDestinationForm.get('location')?.touched &&
                addDestinationForm.get('location')?.invalid
              "
              class="text-danger"
            >
              Location is required.
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <div class="form-group">
                <label for="lat">Latitude</label>
                <input
                  class="form-control"
                  id="lat"
                  formControlName="lat"
                  type="text"
                  readonly
                />
              </div>
            </div>
            <div class="col-md-6 form-group">
              <div class="form-group">
                <label for="lng">Longitude</label>
                <input
                  class="form-control"
                  id="lng"
                  formControlName="lng"
                  type="text"
                  readonly
                />
              </div>
            </div>
          </div>
          <div style="height: 500px; width: 100%; margin-bottom: 60px">
            <google-map
              height="100%"
              width="100%"
              [center]="center"
              [zoom]="zoom"
              [options]="mapOptions"
              (mapClick)="onMapClick($event)"
            >
              <map-advanced-marker
                [position]="markerPosition"
              ></map-advanced-marker>
            </google-map>
          </div>
          <button class="th-btn" type="submit">Add Destination</button>
        </form>
      </div>
    </div>
  </div>
</div>
