@if(loading) {
<app-loader></app-loader>
}@else{
<div class="row gy-40">
  <div class="tab-content" id="nav-tabContent">
    <h3>Bookmarked Destination</h3>
    <div
      class="tab-pane fade active show"
      id="tab-grid"
      role="tabpanel"
      aria-labelledby="tab-shop-grid"
    >
      <div class="row gy-40">
        @for (destination of favorites_destinations; track destination.id) {
        <div class="col-xl-3 col-sm-6">
          <div class="th-product product-grid">
            <div class="product-img">
              <img src="{{ destination.image }}" alt="Product Image" />
              <!-- <span class="product-tag">Sale</span> -->
              <div class="actions">
                <a
                  (click)="
                    removeFavorite(
                      'destinations',
                      destination.id,
                      destination.title
                    )
                  "
                  class="icon-btn"
                  ><i class="far fa-trash"></i
                ></a>
              </div>
            </div>
            <div class="product-content">
              <h3 class="product-title">
                <a
                  routerLink="/destinations/{{ destination.id }}"
                  routerLinkActive="active"
                  >{{ destination.title }}</a
                >
              </h3>
              <span class="price">{{ destination.location }}</span>
              <div
                class="woocommerce-product-rating"
                style="padding-bottom: 20px"
              >
                <span class="count">(ToDo Comments)</span>
              </div>
              <div class="tour-rating">
                <div
                  class="star-rating"
                  role="img"
                  aria-label="Rated 5.00 out of 5"
                >
                  <span
                    [style.width.%]="destination.average_rating.toFixed(2) * 18"
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        }@empty {
        <div class="col-12">
          <div class="alert alert-warning" role="alert">
            No destinations found.
          </div>
        </div>
        }
      </div>
    </div>
  </div>
  <div class="tab-content" id="nav-tabContent">
    <h3>Bookmarked Hotels</h3>
    <div
      class="tab-pane fade active show"
      id="tab-grid"
      role="tabpanel"
      aria-labelledby="tab-shop-grid"
    >
      <div class="row gy-40">
        @for (hotel of favorites_hotels; track hotel.id) {
        <div class="col-xl-3 col-sm-6">
          <div class="th-product product-grid">
            <div class="product-img">
              <img src="{{ hotel.image }}" alt="Product Image" />
              <!-- <span class="product-tag">Sale</span> -->
              <div class="actions">
                <a
                  (click)="removeFavorite('hotels', hotel.id, hotel.name)"
                  class="icon-btn"
                  ><i class="far fa-trash"></i
                ></a>
              </div>
            </div>
            <div class="product-content">
              <h3 class="product-title">
                <a
                  routerLink="/hotels/{{ hotel.id }}"
                  routerLinkActive="active"
                  >{{ hotel.name }}</a
                >
              </h3>
              <span class="price">{{ hotel.location }}</span>
              <div
                class="woocommerce-product-rating"
                style="padding-bottom: 20px"
              >
                <span class="count">(ToDo Comments)</span>
              </div>
              <div class="tour-rating">
                <div
                  class="star-rating"
                  role="img"
                  aria-label="Rated 5.00 out of 5"
                >
                  <span
                    [style.width.%]="hotel.average_rating.toFixed(2) * 18"
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        }@empty {
        <div class="col-12">
          <div class="alert alert-warning" role="alert">No hotels found.</div>
        </div>
        }
      </div>
    </div>
  </div>
  <div class="tab-content" id="nav-tabContent">
    <h3>Bookmarked Activities</h3>
    <div
      class="tab-pane fade active show"
      id="tab-grid"
      role="tabpanel"
      aria-labelledby="tab-shop-grid"
    >
      <div class="row gy-40">
        @for (activity of favorites_activities; track activity.id) {
        <div class="col-xl-3 col-sm-6">
          <div class="th-product product-grid">
            <div class="product-img">
              <img src="{{ activity.image }}" alt="Product Image" />
              <!-- <span class="product-tag">Sale</span> -->
              <div class="actions">
                <a
                  (click)="
                    removeFavorite('activities', activity.id, activity.title)
                  "
                  class="icon-btn"
                  ><i class="far fa-trash"></i
                ></a>
              </div>
            </div>
            <div class="product-content">
              <h3 class="product-title">
                <a
                  routerLink="/activities/{{ activity.id }}"
                  routerLinkActive="active"
                  >{{ activity.title }}</a
                >
              </h3>
              <span class="price">{{ activity.location }}</span>
              <div
                class="woocommerce-product-rating"
                style="padding-bottom: 20px"
              >
                <span class="count">(ToDo Comments)</span>
              </div>
              <div class="tour-rating">
                <div
                  class="star-rating"
                  role="img"
                  aria-label="Rated 5.00 out of 5"
                >
                  <!-- <span
                    [style.width.%]="activity.average_rating.toFixed(2) * 18"
                  ></span> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        }@empty {
        <div class="col-12">
          <div class="alert alert-warning" role="alert">
            No activities found.
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
}
