@if(loading){
<app-loader></app-loader>
}@else{
<div class="row gy-24 gx-24">
  @for (activitie of data; track activitie.id) {
  <div class="col-md-6">
    <div class="tour-box th-ani">
      <div class="tour-box_img global-img">
        <img src="{{ activitie.image }}" alt="image" />
      </div>
      <div class="tour-content">
        <h3 class="box-title">
          <a [routerLink]="['/activities', activitie.id]">{{
            activitie.title
          }}</a>
        </h3>

        <h4 class="tour-box_price">
          <span class="currency">{{ activitie.price }}</span
          >/Person
        </h4>

        <div class="tour-action">
          <span><i class="fa-light fa-clock"></i>{{ activitie.duration }}</span>
          <span
            ><i class="fa-light fa-location-dot"></i
            >{{ activitie.location }}</span
          >
          <a [routerLink]="['/activities', activitie.id]" class="th-btn style4"
            >Detail View</a
          >
        </div>
      </div>
    </div>
  </div>
  }@empty {
  <div class="col-12">
    <div class="alert alert-warning" role="alert">No destinations found.</div>
  </div>
  }
</div>
}
