<div class="row gy-24 gx-24">
  @for (activitie of data; track activitie.id) {
  <div class="col-md-6">
    <div class="tour-box th-ani">
      <div class="tour-box_img global-img">
        <img src="{{ activitie.image }}" alt="image" />
      </div>
      <div class="tour-content">
        <h3 class="box-title">
          <a href="activities-details.html">{{ activitie.title }}</a>
        </h3>
        <div class="tour-rating">
          <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
            <span style="width: 100%"
              >Rated <strong class="rating">5.00</strong> out of 5 based on
              <span class="rating">4.8</span>(4.8 Rating)</span
            >
          </div>
          <a href="activities-details.html" class="woocommerce-review-link"
            >(<span class="count">4.8</span> Rating)</a
          >
        </div>
        <h4 class="tour-box_price">
          <span class="currency">{{ activitie.price }}</span
          >/Person
        </h4>
        <div class="tour-action">
          <span><i class="fa-light fa-clock"></i>{{ activitie.duration }}</span>
          <a [routerLink]="['/activities', activitie.id]" class="th-btn style4"
            >Detail View</a
          >
        </div>
      </div>
    </div>
  </div>
  }

  <div class="th-pagination mt-60 mb-0 text-center">
    <ul>
      <li><a class="active" href="blog.html">1</a></li>
      <li><a href="blog.html">2</a></li>
      <li><a href="blog.html">3</a></li>
      <li><a href="blog.html">4</a></li>
      <li>
        <a class="next-page" href="blog.html"
          >Next <img src="assets/img/icon/arrow-right4.svg" alt=""
        /></a>
      </li>
    </ul>
  </div>
</div>
