@if(loading){
<app-loader></app-loader>
}@else{
<div class="th-checkout-wrapper space-extra-bottom">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form
          class="woocommerce-form-login"
          [formGroup]="editHotelForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="form-group">
            <label for="name">Name <span class="red">*</span></label>
            <input
              class="form-control"
              id="name"
              formControlName="name"
              type="text"
            />
            <div
              *ngIf="
                editHotelForm.get('name')?.touched &&
                editHotelForm.get('name')?.invalid
              "
              class="text-danger"
            >
              Name is required.
            </div>
          </div>
          <div class="form-group">
            <label for="category">Category <span class="red">*</span></label>
            <select
              class="form-control"
              id="category"
              formControlName="category"
            >
              <option *ngFor="let category of categories" [value]="category.id">
                {{ category.name }}
              </option>
            </select>
            <div
              *ngIf="
                editHotelForm.get('category')?.touched &&
                editHotelForm.get('category')?.invalid
              "
              class="text-danger"
            >
              Category is required.
            </div>
          </div>
          <div class="form-group">
            <label for="description"
              >Description <span class="red">*</span></label
            >
            <!-- <textarea
              class="form-control"
              id="description"
              formControlName="description"
            ></textarea> -->
            <ckeditor
              [editor]="Editor"
              [config]="config"
              id="description"
              formControlName="description"
            ></ckeditor>
            <div
              *ngIf="
                editHotelForm.get('description')?.touched &&
                editHotelForm.get('description')?.invalid
              "
              class="text-danger"
            >
              Description is required.
            </div>
          </div>
          <div class="form-group">
            <label for="location"
              >Location <span class="red">*</span> (Write location or select on
              Map )</label
            >
            <input
              class="form-control"
              id="location"
              formControlName="location"
              type="text"
              (change)="onLocationChange()"
            />
            <div
              *ngIf="
                editHotelForm.get('location')?.touched &&
                editHotelForm.get('location')?.invalid
              "
              class="text-danger"
            >
              Location is required.
            </div>
          </div>
          <div style="height: 500px; width: 100%">
            <google-map
              height="100%"
              width="100%"
              [center]="center"
              [zoom]="zoom"
              [options]="mapOptions"
              (mapClick)="onMapClick($event)"
            >
              <map-advanced-marker
                [position]="markerPosition"
              ></map-advanced-marker>
            </google-map>
          </div>
          <div class="form-group">
            <label for="website">Website</label>
            <input
              class="form-control"
              id="website"
              formControlName="website"
              type="url"
            />
            <div
              *ngIf="
                editHotelForm.get('website')?.touched &&
                editHotelForm.get('website')?.invalid
              "
              class="text-danger"
            >
              Please enter a valid URL.
            </div>
          </div>

          <div class="form-group">
            <label>Highlights</label>
            <div class="custom-checkbox">
              <div
                class="single-tag"
                *ngFor="let highlight of highlights; let i = index"
              >
                <input
                  type="checkbox"
                  [value]="highlight.id"
                  (change)="onHighlightsChange($event)"
                  id="tag-{{ highlight.id }}"
                  [checked]="
                    editHotelForm
                      .get('highlights')
                      ?.value.includes(highlight.id)
                  "
                />
                <label for="tag-{{ highlight.id }}">{{ highlight.name }}</label>
              </div>
            </div>
            <div
              *ngIf="
                editHotelForm.get('tags')?.touched &&
                editHotelForm.get('tags')?.invalid
              "
              class="text-danger"
            >
              Tags are required.
            </div>
          </div>
          <!-- <div class="form-group">
            <label>Highlights</label>
            <div *ngFor="let highlight of highlights; let i = index">
              <input type="checkbox" [formControlName]="i" /> {{ highlight.name }}
            </div>
          </div> -->
          <div class="row">
            <div class="col-md-6 form-group">
              <div class="form-group">
                <label>Tags</label>

                <div class="form-group">
                  <label for="newTag"></label>
                  <input
                    class="form-control"
                    id="newTag"
                    formControlName="newTag"
                    type="text"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <button type="button" class="th-btn style3" (click)="addNewTag()">
                Add Tag
              </button>
            </div>

            <div *ngIf="editHotelForm.get('tags')?.invalid" class="text-danger">
              At least one tag is required.
            </div>
            <div class="added-tags">
              <div
                class="tag-box"
                *ngFor="let tag of tags.controls; let i = index"
              >
                <!-- <span>{{ tag.value }}</span> -->
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                  (click)="removeTag(i)"
                >
                  {{ tag.value }}
                  x
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="price">Price <span class="red">*</span></label>
            <input
              class="form-control"
              id="price"
              formControlName="price"
              type="number"
              step="0.01"
            />
            <div
              *ngIf="
                editHotelForm.get('price')?.touched &&
                editHotelForm.get('price')?.invalid
              "
              class="text-danger"
            >
              Price is required.
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 form-group">
              <div class="form-group">
                <label for="image">Image 1 <span class="red">*</span></label>
                <input
                  class="form-control th-btn style4"
                  id="image"
                  type="file"
                  (change)="onFileChange($event, 'image')"
                />
              </div>
              <div
                *ngIf="editHotelForm.get('image')?.invalid"
                class="text-danger"
              >
                Image is required.
              </div>
              <div *ngIf="imagePreviews['image']">
                <img
                  [src]="imagePreviews['image']"
                  alt="Image 1"
                  style="width: 100px; height: auto"
                />
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                  (click)="removeImage('image')"
                >
                  Remove
                </button>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <div class="form-group">
                <label for="image2">Image 2</label>
                <input
                  class="form-control th-btn style4"
                  id="image2"
                  type="file"
                  (change)="onFileChange($event, 'image2')"
                />
              </div>
              <div *ngIf="imagePreviews['image2']">
                <img
                  [src]="imagePreviews['image2']"
                  alt="Image 2"
                  style="width: 100px; height: auto"
                />
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                  (click)="removeImage('image2')"
                >
                  Remove
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 form-group">
              <div class="form-group">
                <label for="image3">Image 3</label>
                <input
                  class="form-control th-btn style4"
                  id="image3"
                  type="file"
                  (change)="onFileChange($event, 'image3')"
                />
              </div>
              <div *ngIf="imagePreviews['image3']">
                <img
                  [src]="imagePreviews['image3']"
                  alt="Image 3"
                  style="width: 100px; height: auto"
                />
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                  (click)="removeImage('image3')"
                >
                  Remove
                </button>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <div class="form-group">
                <label for="image4">Image 4</label>
                <input
                  class="form-control th-btn style4"
                  id="image4"
                  type="file"
                  (change)="onFileChange($event, 'image4')"
                />
              </div>
              <div *ngIf="imagePreviews['image4']">
                <img
                  [src]="imagePreviews['image4']"
                  alt="Image 4"
                  style="width: 100px; height: auto"
                />
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                  (click)="removeImage('image4')"
                >
                  Remove
                </button>
              </div>
            </div>
          </div>
          <button
            class="th-btn submit-btn"
            type="submit"
            [disabled]="submitting"
          >
            {{ submitting ? " Submitting..." : "Update Hotel" }}
          </button>
          <div *ngIf="editHotelForm.invalid" class="text-danger">
            <small *ngIf="editHotelForm.invalid"
              >Please fill all required fields.
            </small>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
}
