<section class="space">
  <div class="container">
    <div class="row">
      <div class="col-xxl-9 col-lg-8">
        <div class="tab-content" id="nav-tabContent">
          <div
            class="tab-pane fade active show"
            id="tab-grid"
            role="tabpanel"
            aria-labelledby="tab-destination-grid"
          >
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
      <div class="col-xxl-3 col-lg-4">
        <aside class="sidebar-area style2">
          <div class="widget widget_categories">
            <h3 class="widget_title">Categories</h3>
            <ul>
              <!-- @for (category of categories; track category.id) {
              <li>
                <a
                  [routerLink]="['/destinations']"
                  [queryParams]="{ category: category.name }"
                >
                  <img src="./assets/img/theme-img/map.svg" alt="" />{{
                    category.name
                  }}</a
                >
                <span>({{ category.number_of_destinations }})</span>
              </li>
              } -->
            </ul>
          </div>
          <app-top-rated-destinations></app-top-rated-destinations>
          <div class="widget widget_tag_cloud">
            <h3 class="widget_title">Popular Tags</h3>
            <div class="tagcloud">
              <a>ToDo</a>
              <a>ToDo</a>
              <a>ToDo</a>
              <a>ToDo</a>
              <a>ToDo</a>
              <a>ToDo</a>
              <a>ToDo</a>
              <a>ToDo</a>
            </div>
          </div>
          <app-banner></app-banner>
        </aside>
      </div>
    </div>
  </div>
</section>

<app-top-hotels></app-top-hotels>

<div
  class="shape-mockup shape2 d-none d-xl-block"
  data-top="25%"
  data-right="2%"
  appShapeMockup
>
  <img src="./assets/img/shape/shape_2.png" alt="shape" />
</div>
<div
  class="shape-mockup shape3 d-none d-xl-block"
  data-top="22%"
  data-left="7%"
  appShapeMockup
>
  <img src="./assets/img/shape/shape_3.png" alt="shape" />
</div>
