<div class="tour-page-single">
  <div class="tour-page-single">
    <div class="slider-area tour-slider1">
      <swiper-container
        style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
        class="mySwiper"
        thumbs-swiper=".mySwiper2"
        loop="false"
        space-between="10"
        navigation="true"
      >
        <swiper-slide class="swiper-slide">
          <div class="tour-slider-img">
            <img src="{{ activitie.image }}" />
          </div>
        </swiper-slide>
        <swiper-slide class="swiper-slide">
          <div class="tour-slider-img">
            <img src="{{ activitie.image2 }}" />
          </div>
        </swiper-slide>
        <swiper-slide class="swiper-slide">
          <div class="tour-slider-img">
            <img src="{{ activitie.image3 }}" />
          </div>
        </swiper-slide>
      </swiper-container>

      <swiper-container
        class="mySwiper2"
        loop="false"
        space-between="20"
        slides-per-view="4"
        free-mode="true"
        watch-slides-progress="true"
        style="margin-top: 30px"
      >
        <swiper-slide class="swiper-slide">
          <div class="tour-slider-img">
            <img src="{{ activitie.image }}" />
          </div>
        </swiper-slide>
        <swiper-slide class="swiper-slide">
          <div class="tour-slider-img">
            <img src="{{ activitie.image2 }}" />
          </div>
        </swiper-slide>
        <swiper-slide class="swiper-slide">
          <div class="tour-slider-img">
            <img src="{{ activitie.image3 }}" />
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
  <div class="page-content">
    <div class="page-meta mb-45">
      <span class="ratting">
        <i class="fa-sharp fa-solid fa-star"></i>
        <span>4.8</span>
      </span>
      @if(!isFavorite){
      <button (click)="addToFavorites(activitie.id)" class="ratting">
        <i class="fa fa-heart"></i>
        Add to Favorites</button
      >}@else{
      <button (click)="removeFromFavorites(activitie.id)" class="ratting">
        <i class="fa fa-heart text-danger"></i>
        Remove from Favorites
      </button>
      }
    </div>

    <h2 class="box-title">{{ activitie.title }}</h2>
    <p class="box-text mb-30" [innerHTML]="activitie.description"></p>
    <p class="box-text mb-50" [innerHTML]="activitie.highlights"></p>
    <div class="tour-snapshot">
      <h4 class="box-title">Tour Snapshot</h4>
      <div class="tour-snap-wrapp">
        <div class="tour-snap">
          <div class="icon">
            <i class="fa-light fa-clock"></i>
          </div>
          <div class="content">
            <span class="title">Duration:</span>
            <span>{{ activitie.duration }}</span>
          </div>
        </div>
        <div class="tour-snap">
          <div class="icon">
            <img src="assets/img/icon/guide2.svg" alt="" />
          </div>
          <div class="content">
            <span class="title">Price:</span>
            <span>{{ activitie.price }}</span>
          </div>
        </div>
        <div class="tour-snap">
          <div class="icon">
            <img src="assets/img/icon/ship.svg" alt="" />
          </div>
          <div class="content">
            <span class="title">Categorty:</span>
            <span>{{ activitie.category }}</span>
          </div>
        </div>
        <div class="tour-snap">
          <div class="icon">
            <!-- <img src="assets/img/icon/01.svg" alt="" /> -->
          </div>
          <div class="content">
            <!-- <span class="title">Free Cancellation</span>
            <a href="#" class="line-btn">Learn more</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
